{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-markdown-html",
    "prettier-plugin-sort-package-json",
    "prettier-plugin-tailwindcss"
  ],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "tailwindStylesheet": "./src/media/design.css",
  "tailwindPreserveWhitespace": true
}
