@use "variables" as *;

@mixin mobile {
  @media (width <= $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (width <= $breakpoint-tablet) {
    @content;
  }
}

@mixin custom-scrollbar(
  $thumb-color: rgb(0 0 0 / 50%),
  $track-color: transparent,
  $thumb-hover-color: rgb(0 0 0 / 70%)
) {
  // For Firefox
  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;

  // For Webkit-based browsers
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 4px;
    border: 2px solid $track-color;
    transition: background-color 0.2s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $thumb-hover-color;
  }
}

@mixin card-common {
  background: var(--pico-form-element-background-color);
  border-radius: var(--pico-radius);
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover,
  &:has(:focus-visible) {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
  }

  &:has(:focus-visible) {
    box-shadow:
      0 0 0 2px var(--pico-primary-focus),
      0 6px 16px rgb(0 0 0 / 20%);
  }
}
