/* TOP BAR STYLES */
.top-bar {
  background: #181825;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar-left {
  display: flex;
  gap: 1rem;
}

.top-bar-right {
  display: flex;
  gap: 1rem;
}